<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Resume - {{ resume.name }}</title>
  <meta name="description" content="{{ resume.name }}'s Online Resume">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ resume.name }}">

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">

  <!--[if lt IE 9]>
  <script src="{{ asset('js/legacy.min.js') }}"></script>
  <![endif]-->
</head>

<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="main-menu">
          <li class="active"><a href="#welcome">Home</a></li>
          <li><a href="#profile">Profile</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section id="welcome" class="page-welcome">
    <div>
      <ul class="slider-controls">
        <li><a id="vegas-next" class="next" href="#"></a></li>
        <li><a id="vegas-prev" class="prev" href="#"></a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <header class="centered">
          <h1>{{ resume.name }}</h1>
          <p id="i-am-a">{{ resume.titles|first }}</p>
        </header>
        <div class="social-icons">
{% for social in resume.social %}
{% set btn_class = social.icon|replace({'fas fa-': '', 'fab fa-': ''}) %}
          <a rel="me" href="{{ social.href }}" class="btn btn-round btn-clear btn-{{ btn_class }}" aria-label="{{ social.name }}"><i class="{{ social.icon }}"></i></a>
{% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="profile" class="page-profile">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title">Personal Profile</h2>
        <div class="spacer"></div>
        <p class="section-subtitle">Geek from Salt Lake City.</p>
      </header>
      <div class="row">
        <div class="col-md-4">
          <div class="profile"><img src="{{ asset('img/profile.jpeg') }}" alt="A photo of {{ resume.name }}."/></div>
        </div>
        <div class="col-md-8">
{% for line in resume.profile %}
          <p>{{ line }}</p>
{% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="experience" class="page-experience">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Experience</span></h2>
        <div class="spacer"></div>
        <p class="section-subtitle">Full-stack engineer.</p>
      </header>
      <div class="row">
{% for position in resume.experience %}
{% if loop.index0 < 3 %}
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>{{ position.company }}</h3>
              <p>{{ position.title }} / {{ position.location }} / {{ position.from }} - {{ position.to }}</p>
            </header>
{% for line in position.description %}
            <p>{{ line }}</p>
{% endfor %}
          </article>
        </div>
{% endif %}
{% endfor %}
      </div>
    </div>
  </section>

  <section id="portfolio" class="page-portfolio">
    <div class="container">
      <div class="row">
        <header class="section-header">
          <h2 class="section-title"><span>Portfolio</span></h2>
          <div class="spacer"></div>
          <p class="section-subtitle">Build it, maintain it.</p>
        </header>
{% set col = 6 %}
{% set perRow = 2 %}
{% for project in resume.projects %}
{% if loop.index0 % perRow == 0 %}
      </div>
      <div class="row projects">
{% endif %}
        <div class="{% if loop.last and loop.index0 % perRow == 0 %}col-md-offset-{{ col / 2 }} {% endif %}col-md-{{ col }} project">
          <header>
            <h3>{{ project.name }}</h3>
{% if project.blurb is not empty %}
            <p>{{ project.blurb }}</p>
{% endif %}
          </header>
{% for line in project.description %}
          <p>{{ line }}</p>
{% endfor %}
{% if project.links|length %}
          <ul class="list-inline text-center">
{% for link in project.links %}
            <li class="project-link"><a href="{{ link.href }}">{% if link.icon %}<i class="{{ link.icon }}"></i> {% endif %}{{ link.text }}</a></li>
{% endfor %}
          </ul>
{% endif %}
        </div>
{% endfor %}
      </div>
    </div>
  </section>

  <section id="contact" class="page-contact">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Contact</span></h2>
        <div class="spacer"></div>
        <p class="section-subtitle">Get in touch.</p>
      </header>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 contact-info">
          <p aria-label="Email"><i class="fas fa-fw fa-envelope-o"></i> {{ resume.email }}</p>
          <p aria-label="Phone"><i class="fas fa-fw fa-phone"></i> {{ resume.phone }}</p>
          <p aria-label="Blog"><i class="fas fa-fw fa-link"></i> <a href="https://tylersommer.com">Tyler Sommer dot com</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="page-footer">
    <div class="container">
      <p class="cp">&copy; {{ 'now'|date('Y') }} Tyler Sommer. <a href="{{ path('print') }}">Print version</a>.</p>
    </div>
  </section>

  <script type="text/javascript" src="{{ asset('js/app.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(document.body).data('titles', [{% for title in resume.titles %}'{{ title }}'{% if not loop.last %},{% endif %}{% endfor %}]);
    });
  </script>
</body>
</html>
