<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Resume - {{ resume.name }}</title>
  <meta name="description" content="{{ resume.name }}'s Online Resume">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ resume.name }}">

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">

  <!--[if lt IE 9]>
  <script src="{{ asset('js/legacy.min.js') }}"></script>
  <![endif]-->
</head>
<body>
  
  <section id="profile" class="page-profile print">
    <div class="row">
      <div class="col-sm-12">
      <header class="section-header">
        <h2 class="section-title">{{ resume.name }}</h2>
        <p class="contact">{{ resume.email }}</p>
        <p class="contact phone">{{ resume.phone }}</p>
        <div class="spacer"></div>
        <p class="section-subtitle">{{ resume.title }}</p>
      </header>
      <div class="row">
        <div class="col-md-12">
          <p>{{ resume.description }}</p>
          <div class="spacer"></div>
          <h3>Experience</h3>
          <dl>
{% for position in resume.experience %}
            <dt class="position">{{ position.company }} / {{ position.title }} / {{ position.location }} / {{ position.from }} - {{ position.to }}</dt>
            <dd>
              <p>{{ position.description[0] }}</p>
{% if position.description|length > 0 %}
              <p>{{ position.description[1] }}</p>
{% endif %}
            </dd>
{% endfor %}

{% if resume.extra|length %}
            <dt>Et cetera</dt>
{% set line = resume.extra[0] %}
            <dd class="etc">{{ line|raw }}</dd>
{% endif %}
          </dl>
          <div class="spacer print-hidden"></div>
          <h3 class="print-hidden">Qualifications</h3>
          <dl class="dl-horizontal print-hidden">
            <dt>Primary strengths</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'strength' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
            
            <dt>Working knowledge</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'needs-improvement' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
            
            <dt>Platforms</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'platform' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
          </dl>
        </div>
      </div>
      </div> 
    </div>
  </section>

  <script type="text/javascript" src="{{ asset('js/app.min.js') }}"></script>
</body>
</html>
