<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tyler Sommer - Resume</title>
  <meta name="description" content="Tyler Sommer's Online Resume">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tyler Sommer">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  
  <link href="//cdn.jsdelivr.net/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
  
  <!--[if lt IE 9]>
  <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <!--[endif]-->
</head>
<body>
  
  <section id="profile" class="page-profile print">
    <div class="row">
      <div class="col-sm-12">
      <header class="section-header">
        <h2 class="section-title">{{ resume.name }}</h2>
        <p class="contact">{{ resume.email }}</p>
        <p class="contact phone">{{ resume.phone }}</p>
        <div class="spacer"></div>
        <p class="section-subtitle">{{ resume.title }}</p>
      </header>
      <div class="row">
        <div class="col-md-12">
          <p>{{ resume.description }}</p>
          <div class="spacer"></div>
          <h3>Experience</h3>
          <dl>
            {% for position in resume.experience %}
            <dt>{{ position.company }} / {{ position.title }} / {{ position.location }} / {{ position.from }} - {{ position.to }}</dt>
            <dd>{{ position.description[0] }}</dd>
            {% endfor %}

            {% if resume.extra|length %}
            <dt>Et. cetera</dt>
              {% for line in resume.extra %}
            <dd class="etc">{{ line|raw }}</dd>
              {% endfor %}
            {% endif %}
          </dl>
          <div class="spacer print-hidden"></div>
          <h3 class="print-hidden">Qualifications</h3>
          <dl class="dl-horizontal print-hidden">
            <dt>Primary strengths</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'strength' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
            
            <dt>Working knowledge</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'needs-improvement' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
            
            <dt>Platforms</dt>
            <dd>{% for attr in resume.qualifications if attr.type == 'platform' %}{% if not loop.first %}, {% endif %}{{ attr.name }}{% endfor %}</dd>
          </dl>
        </div>
      </div>
      </div> 
    </div>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55684658-2', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/app.min.js') }}"></script>
</body>
</html>
